extends ../pug/layout.pug

block meta
  title Николай Громов. Фотоблог
  meta(name='description', content='Фотографии: стритфото, жанр, портреты, абстракция, минимализм, ню.')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block content
  main.photogrid(itemscope, itemtype='http://schema.org/ImageGallery')
    header.photogrid__main.welcome
      .welcome__header
        h1.welcome__name
          span.welcome__name-inner Николай Громов
        p.welcome__descr
          span.welcome__descr-inner Фотоблог
      a(href='')
        img.welcome__last-photo(src='img/demo-3.jpg', alt='')

    figure.photogrid__item.photo(itemprop='associatedMedia', itemscope, itemtype='http://schema.org/ImageObject')
      a.photo__img-wrap(href='img/demo-1.jpg', itemprop='contentUrl', data-size=',1200x800')
        //- 380
        img.photo__img(src='img/demo-1.jpg', itemprop='thumbnail', alt='Image 1 description')
      figcaption.photo__descr(itemprop='caption description') Image 1 caption

    figure.photogrid__item.photo(itemprop='associatedMedia', itemscope, itemtype='http://schema.org/ImageObject')
      a.photo__img-wrap(href='img/demo-2.jpg', itemprop='contentUrl', data-size='2200x800')
        img.photo__img(src='img/demo-2.jpg', itemprop='thumbnail', alt='Image 2 description')
      figcaption.photo__descr(itemprop='caption description') Image 2 caption

    figure.photogrid__item.photo(itemprop='associatedMedia', itemscope, itemtype='http://schema.org/ImageObject')
      a.photo__img-wrap(href='img/demo-3.jpg', itemprop='contentUrl', data-size='3200x800')
        img.photo__img(src='img/demo-3.jpg', itemprop='thumbnail', alt='Image 3 description')
      figcaption.photo__descr(itemprop='caption description') Image 3 caption

    figure.photogrid__item.photo(itemprop='associatedMedia', itemscope, itemtype='http://schema.org/ImageObject')
      a.photo__img-wrap(href='img/demo-1.jpg', itemprop='contentUrl', data-size='1200x800')
        img.photo__img(src='img/demo-1.jpg', itemprop='thumbnail', alt='Image 1 description')
      figcaption.photo__descr(itemprop='caption description') Image 1 caption

    figure.photogrid__item.photo(itemprop='associatedMedia', itemscope, itemtype='http://schema.org/ImageObject')
      a.photo__img-wrap(href='img/demo-2.jpg', itemprop='contentUrl', data-size='2200x800')
        img.photo__img(src='img/demo-2.jpg', itemprop='thumbnail', alt='Image 2 description')
      figcaption.photo__descr(itemprop='caption description') Image 2 caption

    figure.photogrid__item.photo(itemprop='associatedMedia', itemscope, itemtype='http://schema.org/ImageObject')
      a.photo__img-wrap(href='img/demo-3.jpg', itemprop='contentUrl', data-size='3200x800')
        img.photo__img(src='img/demo-3.jpg', itemprop='thumbnail', alt='Image 3 description')
      figcaption.photo__descr(itemprop='caption description') Image 3 caption

    figure.photogrid__item.photo(itemprop='associatedMedia', itemscope, itemtype='http://schema.org/ImageObject')
      a.photo__img-wrap(href='img/demo-1.jpg', itemprop='contentUrl', data-size='1200x800')
        img.photo__img(src='img/demo-1.jpg', itemprop='thumbnail', alt='Image 1 description')
      figcaption.photo__descr(itemprop='caption description') Image 1 caption

    figure.photogrid__item.photo(itemprop='associatedMedia', itemscope, itemtype='http://schema.org/ImageObject')
      a.photo__img-wrap(href='img/demo-2.jpg', itemprop='contentUrl', data-size='2200x800')
        img.photo__img(src='img/demo-2.jpg', itemprop='thumbnail', alt='Image 2 description')
      figcaption.photo__descr(itemprop='caption description') Image 2 caption

    figure.photogrid__item.photo(itemprop='associatedMedia', itemscope, itemtype='http://schema.org/ImageObject')
      a.photo__img-wrap(href='img/demo-3.jpg', itemprop='contentUrl', data-size='3200x800')
        img.photo__img(src='img/demo-3.jpg', itemprop='thumbnail', alt='Image 3 description')
      figcaption.photo__descr(itemprop='caption description') Image 3 caption

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
