extends ../pug/layout.pug

block meta
  title Николай Громов. Фотоблог
  meta(name='description', content='Фотографии: стритфото, жанр, портреты, абстракция, минимализм, ню.')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block content
  main
    header.welcome
      a.welcome__header(href='#about')
        h1.welcome__name
          span.welcome__name-inner Николай Громов
        p.welcome__descr
          span.welcome__descr-inner Фотохудожник

    .photogrid#photogallery(itemscope, itemtype='http://schema.org/ImageGallery')
      figure.photogrid__main.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/DSC_5109.jpg', itemprop='contentUrl', data-size='1200x800')
          img.photo__img(src='http://ngromov.ru/ph/DSC_5109.jpg', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description') Двое на гидроцикле
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/00295_Canon-PowerShot-A1200_05-04-2012.jpg', itemprop='contentUrl', data-size='900x900')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/00295_Canon-PowerShot-A1200_05-04-2012.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description') Только вода
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/00166_Canon-PowerShot-A1200_04.jpg', itemprop='contentUrl', data-size='900x900')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/00166_Canon-PowerShot-A1200_04.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description') Пузырики
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/04095.jpg', itemprop='contentUrl', data-size='1200x797')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/04095.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description') Листики
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/0287.jpg', itemprop='contentUrl', data-size='1200x784')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/0287.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description') Угол
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/02158.jpg', itemprop='contentUrl', data-size='1200x797')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/02158.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description') Улитка

      //- первые нексколько имеют превьюхи низкого разрешения, далее — нет

      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/16060.jpg', itemprop='contentUrl', data-size='1199x900')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/16060.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description') Орлы
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/15939.jpg', itemprop='contentUrl', data-size='1200x795')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/15939.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description') Лодка
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/2013-03-11_NIKON-D300_68064.jpg', itemprop='contentUrl', data-size='1200x800')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/2013-03-11_NIKON-D300_68064.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description') Катя
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/2012-12-23_NIKON-D300_7491.jpg', itemprop='contentUrl', data-size='1200x800')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/2012-12-23_NIKON-D300_7491.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description') Пызыри
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/2012-11-10_NIKON-D70_64802.jpg', itemprop='contentUrl', data-size='900x900')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/2012-11-10_NIKON-D70_64802.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description') Тень
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/2143.jpg', itemprop='contentUrl', data-size='594x900')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/2143.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description') Фонарь
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/2013-06-26_NIKON-D300_63444.jpg', itemprop='contentUrl', data-size='1200x900')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/2013-06-26_NIKON-D300_63444.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description') Гречанка
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/2013-04-19_NIKON-D300_68570.jpg', itemprop='contentUrl', data-size='598x900')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/2013-04-19_NIKON-D300_68570.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description') Аня
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/29992.jpg', itemprop='contentUrl', data-size='600x900')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/29992.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description') Подражание Китаеву
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/25742.jpg', itemprop='contentUrl', data-size='598x900')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/25742.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description')
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/2555.jpg', itemprop='contentUrl', data-size='652x900')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/2555.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description')
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/4873.jpg', itemprop='contentUrl', data-size='1200x654')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/4873.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description')
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/48527_D300_22-05-2010_petersbourg.jpg', itemprop='contentUrl', data-size='1200x899')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/48527_D300_22-05-2010_petersbourg.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description')
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/4731_1.jpg', itemprop='contentUrl', data-size='600x900')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/4731_1.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description')
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/62871_D300_22-10-2010_other.jpg', itemprop='contentUrl', data-size='1200x800')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/62871_D300_22-10-2010_other.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description')
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/56683_D300_15-08-2010_novgorod.jpg', itemprop='contentUrl', data-size='900x900')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/56683_D300_15-08-2010_novgorod.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description')
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/56287_D300_08-08-2010_petersbourg_tonemapped.jpg', itemprop='contentUrl', data-size='1200x803')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/56287_D300_08-08-2010_petersbourg_tonemapped.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description')
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/64647_D300_19-11-2010_petersbourg.jpg', itemprop='contentUrl', data-size='1200x877')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/64647_D300_19-11-2010_petersbourg.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description')
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/64427_D300_10-10-2010_piter.jpg', itemprop='contentUrl', data-size='1200x800')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/64427_D300_10-10-2010_piter.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description')
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/63160_D70_27-02-2011_petersburg.jpg', itemprop='contentUrl', data-size='675x900')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/63160_D70_27-02-2011_petersburg.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description')
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/69512_D300_20-02-2011_petersbourg.jpg', itemprop='contentUrl', data-size='1200x885')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/69512_D300_20-02-2011_petersbourg.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description')
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/68867_01-02-2010_petersbourg.jpg', itemprop='contentUrl', data-size='1200x797')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/68867_01-02-2010_petersbourg.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description')
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/67824_16-01-2010_petersbourg.jpg', itemprop='contentUrl', data-size='1200x800')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/67824_16-01-2010_petersbourg.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description')
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/77381_D300_28-05-2011_taallinn.jpg', itemprop='contentUrl', data-size='600x900')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/77381_D300_28-05-2011_taallinn.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description')
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/74949_D300_29-04-2011.jpg', itemprop='contentUrl', data-size='600x900')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/74949_D300_29-04-2011.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description')
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/74641_D300_29-04-2011.jpg', itemprop='contentUrl', data-size='1200x800')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/74641_D300_29-04-2011.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description')
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/81771_NIKON-D300_19.06.jpg', itemprop='contentUrl', data-size='1200x797')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/81771_NIKON-D300_19.06.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description')
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/78383_D300_30-05-2011_taallinn.jpg', itemprop='contentUrl', data-size='1200x800')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/78383_D300_30-05-2011_taallinn.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description')
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/78038_D300_29-05-2011_taallinn.jpg', itemprop='contentUrl', data-size='1200x805')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/78038_D300_29-05-2011_taallinn.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description')
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/88399_NIKON-D300_14-08-2011.jpg', itemprop='contentUrl', data-size='1200x800')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/88399_NIKON-D300_14-08-2011.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description')
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/84628_NIKON-D300_02-07-2011.jpg', itemprop='contentUrl', data-size='1200x797')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/84628_NIKON-D300_02-07-2011.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description')
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/82181_NIKON-D300_19.jpg', itemprop='contentUrl', data-size='1200x690')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/82181_NIKON-D300_19.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description')
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/89455_NIKON-D300_07.09.jpg', itemprop='contentUrl', data-size='600x900')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/89455_NIKON-D300_07.09.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description')
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/89357_NIKON-D300_27.08.jpg', itemprop='contentUrl', data-size='600x900')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/89357_NIKON-D300_27.08.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description')
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/8902-2.jpg', itemprop='contentUrl', data-size='621x900')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/8902-2.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description')
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/95195_NIKON-D300_01-12-2011.jpg', itemprop='contentUrl', data-size='900x900')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/95195_NIKON-D300_01-12-2011.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description')
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/92773_NIKON-D300_12-10-2011_.jpg', itemprop='contentUrl', data-size='900x900')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/92773_NIKON-D300_12-10-2011_.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description')
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/92373_NIKON-D300_11-10-2011_.jpg', itemprop='contentUrl', data-size='1167x900')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/92373_NIKON-D300_11-10-2011_.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description')
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/97532_NIKON-D300_25-01-2012.jpg', itemprop='contentUrl', data-size='1200x406')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/97532_NIKON-D300_25-01-2012.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description')
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/ushedhiy-veter.jpg', itemprop='contentUrl', data-size='639x900')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/ushedhiy-veter.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description')
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/reznie-linii.jpg', itemprop='contentUrl', data-size='598x900')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/reznie-linii.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description')
      figure.photogrid__item.photo(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
        a.photo__img-wrap.js-photo(href='http://ngromov.ru/ph/DSC_5122.jpg', itemprop='contentUrl', data-size='1200x800')
          img.photo__img(src='', data-src='http://ngromov.ru/image.php?image=/ph/DSC_5122.jpg&width=380&height=380&cropratio=1:1', itemprop='thumbnail', alt='')
        figcaption.photo__descr(itemprop='caption description')

  aside.about#about(data-type='article', data-title='Кто такой Николай Громов', data-descr='Коротко обо мне.', data-image='http://ngromov.ru/ph/DSC_5109.jpg')
    h2 Кто такой Николай Громов
    .about__text
      p Я веб-разработчик. С 2000 по 2016 год я активно занимался фотографией (даже была своя студия). Сейчас снимаю редко и исключительно по собственному желанию. Этот свой сайт с фото переделал в середине 2019, удалив почти все кадры.
      p #[a(href='https://vk.com/n.gromov') ВКонтакте], #[a(href='tel:+79112603759') +7 911 260-37-59], #[a(href='mailto:nicothin@gmail.com') nicothin@gmail.com].

  aside.photohelp#photohelp(data-type='article', data-title='Памятка начинающему фотографу', data-descr='распечатать на листе A4, сложить и носить в фотосумке.', data-image='http://ngromov.ru/ph/DSC_5109.jpg')
    h2 Памятка начинающему фотографу
    p Это PDF — две стороны листа A4, разбитые на 4 блока. Распечатать на одном листе, сложить — получится памятка, легко влезающая в карман или небольшую фотосумку.
    p
      a(href='http://ngromov.ru/uploads/pamyatka_fotografu_1.3_ngromov_ru_.pdf') Скачать

  .pswp(tabindex='-1', role='dialog', aria-hidden='true')
    .pswp__bg
    .pswp__scroll-wrap
      .pswp__container
        .pswp__item
        .pswp__item
        .pswp__item
      .pswp__ui.pswp__ui--hidden
        .pswp__top-bar
          .pswp__counter
          button.pswp__button.pswp__button--close(title='Close (Esc)')
          button.pswp__button.pswp__button--share(title='Share')
          button.pswp__button.pswp__button--fs(title='Toggle fullscreen')
          button.pswp__button.pswp__button--zoom(title='Zoom in/out')
          .pswp__preloader
            .pswp__preloader__icn
              .pswp__preloader__cut
                .pswp__preloader__donut
        .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
          .pswp__share-tooltip
        button.pswp__button.pswp__button--arrow--left(title='Previous (arrow left)')
        button.pswp__button.pswp__button--arrow--right(title='Next (arrow right)')
        .pswp__caption
          .pswp__caption__center

//- block append page-bottom
//-   script(src='js/some.js')
