extends ../pug/layout.pug

block meta
  title Николай Громов. Фотоблог.
  meta(name='description', content='Фотографии: стритфото, жанр, портреты, абстракция, минимализм, ню.')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block nav
  p Навигация

block content
  h1 Заголовок
  p Содержимое. #[a(href='blocks-demo.html') Библиотека блоков].

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
