// В этом файле должны быть стили для БЭМ-блока welcome, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.welcome {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1800px;
  margin: auto;
  // margin: 2rem 0 0 1rem;

  .no-touch &:hover #{$block-name}__photo-descr {
    opacity: 1;
  }

  &__header {
    text-decoration: none;
  }

  &__name {
    position: absolute;
    top: 2rem;
    left: 1.8rem;
    margin-bottom: 0;
    font-weight: 400;
    letter-spacing: -0.03em;
    white-space: nowrap;
  }

  &__name-inner {
    background: rgba(0, 0, 0, 0.6);
    padding: 0.2rem 0.8rem;
  }

  &__descr {
    position: absolute;
    top: 7rem;
    left: 1.8rem;
    margin-bottom: 0;
    white-space: nowrap;
  }

  &__descr-inner {
    background: rgba(0, 0, 0, 0.6);
    padding: 0.4rem 1rem;
  }
}
